# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ven/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.env.*
!.env.example
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
